/* Footer Container */
.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border-top: 1px solid #e7e7e7;
    margin-bottom: 0;
  }
  
  /* Left Text */
  .leftText {
    font-size: 14px;
    color: #333;
  }
  
  /* Center Links */
  .centerLinks {
    font-size: 14px;
    color: #333;
    display: flex;
    gap: 10px;
  }
  
  /* Links */
  .link {
    text-decoration: none;
    color: #333;
    padding: 0 5px;
  }
  
  /* Social Icons */
  .socialIcons {
    display: flex;
    gap: 10px;
  }
  
  /* Social Icon Links */
  .iconLink {
    color: #333;
    text-decoration: none;
  }
  
  /* Icon Image Styling */
  .iconImage {
    width: 30px;
    height: 30px;
  }
  
  /* Page Layout Styles */
  html, body {
    height: 100%;
    margin: 0;
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 1000vh;
  }
  
  
  footer {
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-top: 1px solid #e7e7e7;
  }
  