.ongraph {
    padding: 60px 0;
    background-color: #ffffff;
  }
  
  .header {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .heading {
    font-size: 130%;
    font-weight: bold;
    font-family: 'serif';
    text-align: center;
  }
  
  .description {
    font-size: 16px;
    color: #666;
    margin-left: 20px;
    font-family: serif;
    text-align: center;
  }
  
  
  .ongraph-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 20px;
    width: 400px;
    height: 350px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px #c75425;
    transition: transform 0.3s ease, background-color 0.3s ease, height 0.3s ease;
    position: relative;
    z-index: 1;
  }
  
  .ongraph-card:hover {
    transform: scale(1.2);
    background-color: #c75425;
    position: absolute;
    top: 0; /* Set the top position to 0 */
    left: 0; /* Set the left position to 0 */
    color: rgb(223, 6, 6);
    z-index: 10;
  }
  
  .ongraph-title {
    font-size: 30px;
    font-weight: bold;
    color: rgb(5, 0, 0);
    margin-bottom: 5px;
    position: absolute;
    padding: 60px 0;
    opacity: 1;

    transition: opacity 0.3s ease;
  }
  
  .ongraph-content {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .ongraph-description {
    font-size: 14px;
    color: rgb(15, 1, 0);
    margin-top: 10px;
  }
  
  .ongraph-card:hover .ongraph-content {
    opacity: 1;
    margin-top: 30px;
  }
  
  .ongraph-card:hover .ongraph-title {
    opacity: 0;
  }
  
  .ongraph-card .ongraph-description {
    margin-left: 0px;
  }
  /* Custom positioning for the left arrow */
.react-multiple-carousel__arrow--left {
    left: -10px; /* Move the left arrow further left */
    z-index: 1;  /* Ensure it's on top of other elements */
  }
  
  /* Custom positioning for the right arrow */
  .react-multiple-carousel__arrow--right {
    right: -10px; /* Move the right arrow further right */
    z-index: 1;   /* Ensure it's on top of other elements */
  }
  
  /* Optional: Customize arrow size and background color */
  .react-multiple-carousel__arrow {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border-radius: 50%;                   /* Round shape for the arrows */
    width: 40px;                          /* Set custom width */
    height: 40px;                         /* Set custom height */
  }
  