.container {
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 20px;
    margin-left: 300px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1;
    margin: 0 10px;
    min-width: 200px;
  }
  
  .heading {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #007bff;
  }
  
  .link {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
  }
  
  .link:hover {
    border-radius: 5px;
  }
  